<!DOCTYPE html>
<body>
	<h1>Create New Blog Post</h1>
	<form action="posts/" method="POST">
	<p><input type="text" name="title" placeholder="Blog title" required></p>
	<br>
	<p><input type="text" name="image" placeholder="Enter image" required></p>
	<br>
	<p><textarea name="body" row ="10" cols="50">Write post</textarea></p>
	<button>Add Post</button>
	</form>
	<br>

	<a href="/posts">Back to Home Page</a>

</body>
</html>